/client/dist/
/client/node_modules/
/client/.swc/
/client/.env

/node_modules/

/server/ApiTests/
/server/database/
/server/dist/
/server/node_modules/
/server/storage/
/server/.env

/semaychat.sublime-project
/semaychat.sublime-workspace